#form-container {
    background-color: black;
    overflow: auto;
}

#form-container {
    scroll-behavior: smooth;
}

#form-container::-webkit-scrollbar-button {
    background-color: transparent;
    height: 0;
}

#form-container::-webkit-scrollbar-thumb {
    background-color: black;
}

#form-container::-webkit-scrollbar {
    background-color: black;
    width: clamp(15px, 1.2vw, 30px);
}

#form-container[scrollable=""]::-webkit-scrollbar-thumb {
    background-color: #F4DC00;
    border-radius: 10px;
    border: 5px solid black;
}

#user-symbol {
    position: absolute;
    width: clamp(50px, 4vw, 150px);
    right: 5px;
    top: 10px;
    fill: white;
    opacity: 0.7;
    cursor: pointer;
    transition-property: fill, opacity filter;
    transition-duration: 0.4s, 0.4s, 1s;
    filter: drop-shadow(2px 2px 3px transparent);
}

#user-symbol:hover {
    fill: #F4DC00;
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #F4DC00);
}

#gadsden-snake {
    height: 98.02vh;
    position: absolute;
    z-index: 1;
    opacity: 0.1;
    transform: translateX(5vw);
    user-select: none;
    pointer-events: none;
}

#form-container {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#form-container :not(#gadsden-snake) {
    z-index: 2;
}

#form-container #main-input {
    font-size: 5vh;
    text-align: center;
    font-family: 'Libre Caslon Text';
    text-transform: uppercase;
    padding: 2vh;
    width: 70vw;
    border-radius: 30px;
    background-color: #F4DC00;
    border: none;
    outline: none;
}

#form-container button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    right: 110px;
}

#form-container button #magnifier-svg-icon,
#form-container button #btc-svg-background {
    fill: black;
    transition-property: fill;
    transition-duration: 0.2s;
}

#form-container button:hover #magnifier-svg-icon,
#form-container button:hover #btc-svg-background {
    fill: #F7931A;
}

#svg-btc {
    height: clamp(70px, 9.7vh, 9.7vh);
}

#form-container #main-input::-webkit-input-placeholder {
    color: black;
}

#form-container #main-input:-ms-input-placeholder {
    color: black;
}

#form-container #main-input:-moz-placeholder {
    color: black;
}

#form-container #main-input::-moz-placeholder {
    color: black;
}

@keyframes ScrollAlertAnimation {
    from {
        bottom: 0px;
        opacity: 1;
    }

    to {
        bottom: 20px;
    }
}

#scroll-alert-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
}

#scroll-alert-arrow[alert=""] {
    animation-name: ScrollAlertAnimation;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filtering-forms {
    position: absolute;
    top: 100vh;
    background-color: #F4DC00;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filtering-container {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
    position: relative;
    text-align: center;
}


.selected-countries-container,
.countries-container {
    width: 49%;
    height: 30vh;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: "Roboto Mono";
    user-select: none;
    text-align: left;
    align-content: flex-start;
    gap: 10px;
    row-gap: 20px;
    overflow: auto;
    font-size: clamp(15px, 1vw, 40px);
}

@media screen and (max-width:1296px) {

    .selected-countries-container,
    .countries-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:900px) {

    .selected-countries-container,
    .countries-container {
        grid-template-columns: auto auto;
    }
}


.selected-countries-container::-webkit-scrollbar,
.countries-container::-webkit-scrollbar {
    background-color: transparent;
    width: 11px;
    outline: 2px solid #F4DC00;
    border: 2px solid black;
    border-radius: 10px;
}

.selected-countries-container::-webkit-scrollbar-thumb,
.countries-container::-webkit-scrollbar-thumb {
    background-color: #F4DC00;
    border-radius: 10px;
    border: 2px solid black;
}

.countries-container {
    float: left;
}

.selected-countries-container {
    float: right;
}

.general-countries-container {
    width: 90%;
}

.country-filter-input {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    border: 2px solid #F4DC00;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    color: #F4DC00;
}

.country-filter-input::-webkit-input-placeholder {
    color: #f4dc00a1;
}

.country-filter-input:-ms-input-placeholder {
    color: #f4dc00a1;
}

.country-filter-input:-moz-placeholder {
    color: #f4dc00a1;
}

.country-filter-input::-moz-placeholder {
    color: #f4dc00a1;
}